<header class="header">
    <app-navigation-trigger></app-navigation-trigger>

    <div class="header__logo">
        <h1><a [routerLink]="['']">GAT Challenge</a></h1>
    </div>

</header>

<!-- Navigation section -->

<aside class="sidebar" [class.toggled]="sidebarVisible">
    <perfect-scrollbar>

        <div class="user" dropdown>
            <div class="user__info" dropdownToggle>
                <img class="user__img" src="./assets/demo/img/profile-pics/8.jpg" alt="">
                <div>
                    <div class="user__name">Victor Jordan</div>
                    <div class="user__email">victorjordan95@gmail.com</div>
                </div>
            </div>

            <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="">View Profile</a>
                <a class="dropdown-item" href="">Settings</a>
                <a class="dropdown-item" href="">Logout</a>
            </div>
        </div>

        <ul class="navigation">

            <li *ngFor="let item of itemsMenu" routerLinkActive="navigation__active" (click)="closeMenu()">
                <a [routerLink]="['/', item.link]">
                    <i [ngClass]="['zmdi', item.icon]"></i>
                    {{item.label}}
                </a>
            </li>
        </ul>
    </perfect-scrollbar>
</aside>