<app-layout></app-layout>
<section class="content">
  <header class="content__title">
    <h1>Simulador para cálculo</h1>
  </header>

  <div class="card">
    <div class="card-body">
        <form #f="ngForm" autocomplete="off" (ngSubmit)="onSubmit(f)">
    
            <div class="form-group">
              <label>Selecione um gás</label>
              <ng-select 
                class="form-control"
                [items]="gases" 
                bindLabel="nome" 
                name="gas" 
                bindValue="nome"
                [(ngModel)]="nome"
                placeholder="Selecione um gás">
              </ng-select>
            </div>

            <div class="form-group">
                <label>Temperatura</label>
                <input 
                  autocomplete="false" 
                  type="number" 
                  class="form-control" 
                  placeholder="Temperatura (K)"
                  [(ngModel)]="temperatura" 
                  name="temperatura" 
                  required>
              </div>
    
              <div class="form-group">
                  <label>Pressão</label>
                  <input 
                    autocomplete="false" 
                    type="number" 
                    class="form-control" 
                    placeholder="Pressão (atm)"
                    [(ngModel)]="pressao" 
                    name="pressao" 
                    required>
                </div>

                <div class="form-group">
                    <label>Selecione o método que deseja calcular</label>
                    <ng-select 
                      class="form-control"
                      [items]="metodos" 
                      bindLabel="nome" 
                      name="metodo" 
                      bindValue="nome"
                      [(ngModel)]="metodo"
                      placeholder="Metodo que deseja calcular">
                    </ng-select>
                  </div>
    
            <button type="submit" class="btn btn-success" [disabled]="!f.valid">
              Calcular
            </button>
          </form>
    </div>
  </div>

  <div class="card" *ngIf="showResult">
    <div class="card-body">
      <h5>Resultado:</h5>
      <hr>
      <p>V => {{result.v}}</p>
      <p>w => {{result.w}}</p>
      <p>T => {{result.T}}</p>
      <p>a => {{result.a}}</p>

    </div>
  </div>
</section>