<app-layout></app-layout>
<app-log-view-modal></app-log-view-modal>

<section class="content">

    <header class="content__title">
        <h1>Issues - Possible vulnerabilities</h1>
    </header>

    <div class="card">
        <div class="card-body">
            <div class="data-table__header">
                <span class="data-table-label">Select an column to filter</span>
                <ng-select 
                    [items]="table_headers"
                    [(ngModel)]="selectedFilter"
                    (clear)="resetLogs()"
                    (change)="onChangeColumn($event)"
                    bindLabel="label"
                    bindValue="id"
                    class="search_headers"
                    placeholder="Filter by a column"
                    >
                </ng-select>
                <div class="form-group data-table__filter" *ngIf="!isDate">
                    <input autocomplete="false" placeholder="Type your consult" [(ngModel)]="filterText" class="form-control">
                </div>
                <!-- 
                    Todo
                    Adicionar campo de DATA
                    para selecionar um range
                -->
                <div class="form-group datepicker" *ngIf="isDate">
                    <input type="text"
                        class="form-control"
                        [minDate]="minDate"
                        [maxDate]="maxDate"
                        #dp="bsDatepicker"
                        placeholder="Date from"
                        bsDatepicker 
                        [(bsValue)]="fromDate"
                        [(ngModel)]="fromDate"
                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                    
                        <input type="text"
                        class="form-control"
                        [minDate]="minDate"
                        [maxDate]="maxDate"
                        placeholder="Date from"
                        #dp="bsDatepicker"
                        bsDatepicker 
                        [(bsValue)]="toDate"
                        [(ngModel)]="toDate"
                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                </div>

                <button class="btn btn-default btn-search-filter" (click)="searchFilter()">
                    <i class="zmdi zmdi-search"></i>
                    Search
                </button>
            </div>
            <div class="table-responsive" *ngIf="!isLoading">
                <table class="table table-striped mb-0">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th *ngFor="let header of table_headers" (click)="sort(header.label)" class="pointer">
                                {{header.label}}
                                <i class="zmdi" *ngIf="key == header.label" [ngClass]="{'zmdi-chevron-up':reverse,'zmdi-chevron-down':!reverse}"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let issue of logs | orderBy: key : reverse : true | paginate: { itemsPerPage: 5, currentPage: currentPage }; let i=index">
                            <td>
                                <div dropdown>
                                    <i dropdownToggle class="actions__item zmdi zmdi-more-vert"></i>
                                    <div *dropdownMenu class="dropdown-menu dropdown-menu-left">
                                        <span class="dropdown-item" (click)="showModal(issue)">Visualizar</span>
                                    </div>
                                </div>
                            </td>
                            <td>{{issue.ID}}</td>
                            <td>{{issue.Name}}</td>
                            <td>{{issue.Asset}}</td>
                            <td>{{issue.Status}}</td>
                            <td class="text-center">
                                <span class="badge" [ngClass]="issue.Severity">
                                    {{issue.Severity}}
                                </span>
                            </td>
                            <td>{{issue.Responsible}}</td>
                            <td>{{issue.Port}}</td>
                            <td>{{issue.Protocol}}</td>
                            <td>{{issue.Source}}</td>
                            <td>{{issue.ChangedDate}}</td>
                            <td>{{issue.LastSeenDate}}</td>
                            <td>{{issue.DueDate}}</td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="currentPage = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
            </div>
        </div>
    </div>

</section>