.data-table__header {
    align-items: baseline;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-bottom: 16px;

    .datepicker {
        display: flex;
        flex-flow: row nowrap;

        label {
            width: 100%;
        }
    }

    .data-table-label {
        width: 100%;
    }

    .search_headers {
        top: 5px;
        width: 100%;

        @media screen and (min-width: 768px) {
            width: 15%;
        }

    }

    .data-table__filter {
        margin: 8px 0;
        width: 100%;

        @media screen and (min-width: 768px) {
            width: 50%;
        }

    }

    .btn-search-filter {
        height: 36px;
        left: -1px;
        position: relative;
        top: 5px;
        width: 100%;

        @media screen and (min-width: 768px) {
            width: 15%;
        }

        .zmdi {
            font-size: 16px;
            margin-right: 8px;
            vertical-align: middle;
        }
    }
}

.ng-select .ng-select-container {
    background: #424242;
    border-radius: 0;
    color: #fff;
    position: relative;
    top: 5px;
}

input {
    border-radius: 0;
    border: 1px solid #cccccc;
    height: 36px;
    left: -1px;
    position: relative;
    top: 5px;
}
