.modal-body-tags {
    display: flex;
    flex-flow: row wrap;
    // justify-content: flex-end;
    margin-bottom: 16px;

    > .badge {
        margin-left: 8px;
    }
}

.badge {

    &.INFORMATIVE {
        color: #fff;
        background-color: #ffc107;
    }
    &.LOW {
        color: #fff;
        background-color: #00bcd4;
    }
    &.CRITICAL {
        color: #fff;
        background-color: #f44336;
    }
    &.HIGH {
        color: #fff;
        background-color: #ff9800;
    }
}